/* About Page */


/* ==============================
   Navbar
============================== */
.navbar {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 50;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    height: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
    margin-left: 20px;
    font-size: 14px;
}

.nav-links a:hover {
    color: #387ed1;
    border-bottom: 2px solid #2962ff;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    margin-left: 20px;
}




/* Hero Section */
.hero {
    text-align: center;
    margin: 30px auto;
    padding: 50px 20px;
    max-width: 1000px;
    border-bottom: 1px solid #bcb7b7;
}

.hero h2 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
}





/* About Section */
.about-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px;
    margin: auto;
    padding: 50px;
    gap: 40px;
}

.about-text {
    flex: 1;
    max-width: 600px;
    font-weight: 400;
}

.about-text p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 15px;
    display: block;
}

.about-text a {
    color: #2962ff;
    text-decoration: none;
    font-weight: 500;
}


















@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    right: 20px;
    top: 60px;
    flex-direction: column;
    background: #fff;
    padding: 15px 20px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .nav-links.show {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}

@media (max-width: 798px) {
    .about-section {
        flex-direction: column;
    }
}