/* ==============================
   Global Styles
============================== */



/* Reusable container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container.center {
  text-align: center;
}




/* ==============================
   Navbar
============================== */
.navbar {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 50;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  height: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
  margin-left: 20px;
  font-size: 18px;
}

.nav-links a:hover {
  color: #387ed1;
  border-bottom: 2px solid #2962ff;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  margin-left: 20px;
}




/* ==============================
   Hero Section
============================== */
.hero {
  text-align: center;
  padding: 45px 20px;
}

.dashboard-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
  max-height: 50vh;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 16px;
  font-weight: 500;
}

.hero p {
  font-size: 18px;
  margin-bottom: 28px;
  color: #555;
}

.cta-button {
  display: inline-block;
  background-color: #387ed1;
  color: #fff;
  padding: 14px 28px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  transition: all 0.3s ease;
  box-shadow: 0 3px 8px rgba(56, 126, 209, 0.25);
}

.cta-button:hover {
  background-color: #104590;
  /* background-color: #000; */
  /* color: white; */
  transform: translateY(-2px);
  
}




/* ==============================
   Trust Section
============================== */
.trust-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 50px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.trust-text {
  flex: 1;
  max-width: 600px;
}

.trust-text h2 {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 600;
}

.trust-text h3 {
  font-size: 22px;
  margin-top: 24px;
  font-weight: 500;
}

.trust-text p {
  font-size: 18px;
  color: #555555;
  margin-top: 6px;
}

.trust-text a {
  color: #2962ff;
  text-decoration: none;
  font-weight: 500;
}

.trust-text a:hover {
  text-decoration: underline;
}

.trust-visual {
  flex: 1;
  text-align: center;
  max-width: 600px;
}

.trust-visual img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.trust-visual-btn {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 30px;
}

.trust-visual-btn a {
  color: #2962ff;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.trust-visual-btn a:hover {
  transform: scale(1.05);
  border-bottom: 2px solid #2962ff;
}




/* ==============================
   News Section
============================== */
.news-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  /* border: 1px solid black; */
}

#press-logo {
  max-width: 100%;
  height: auto;
}




/* ==============================
   Price Section
============================== */
.price-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
}

.price-text {
  flex: 1;
  max-width: 600px;
  text-align: center;
  /* border: 1px solid black; */
  padding: 20px;
}

.price-text h2 {
  font-size: 32px;
  margin-bottom: 16px;
}

.price-text p {
  font-size: 18px;
  color: #555;
}

.price-visual {
  flex: 1;
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  row-gap: 20px;
  column-gap: 20px;
}

.price-img {
  width: 60px;
  height: 60px;
}

.price-visual p {
  font-size: 16px;
  color: #444;
}

.price-visual-btn {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.price-visual-btn a {
  color: #2962ff;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.price-visual-btn a:hover {
  transform: scale(1.1);
  border-bottom: 2px solid #2962ff;
}




/* ==============================
   Education
============================== */
.education-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
}

.education-visual {
  flex: 1;
  max-width: 600px;
}

.education-visual img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.education-text {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 16px;
}

.education-text h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 12px;
}

.education-text p {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
}

.education-visual-btn {
  display: flex;
  gap: 20px;
  margin-top: 8px;
}

.primary-link {
  color: #2962ff;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
}

.primary-link:hover {
  transform: scale(1.05);
  border-bottom: 2px solid #2962ff;
}




/* ==============================
   Action
============================== */

.action-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 40px auto;
  max-width: 1200px;
  padding: 50px 20px;
  /* border: 1px solid black; */
}

.action-section h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 12px;
}

.action-section p {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
}




/* ==============================
   Footer
============================== */
.footer {
  background-color: #fff;
  border-top: 1px solid #eee;
  color: #555;
  font-size: 14px;
  padding-top: 50px;
  line-height: 1.6;
  /* border: 2px solid black; */
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 40px;
  border-bottom: 1px solid #eee;
  /* border: 2px solid black; */
}

.footer-brand {
  flex: 1 1 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px solid black; */
}

.footer-logo {
  height: 20px;
  margin-bottom: 15px;
}

.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  align-items: center;
  justify-content: center;
}

.social-icons a {
  color: #555;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #2962ff;
}

.footer-columns {
  flex: 3 1 700px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

.footer-col {
  text-align: left;
}

.footer-col h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.footer-col a {
  display: block;
  color: #555;
  text-decoration: none;
  margin-bottom: 6px;
  transition: color 0.3s ease;
}

.footer-col a:hover {
  color: #2962ff;
}

.footer-bottom {
  margin-top: 40px;
  padding-top: 10px;
  color: #777;
  font-size: 13px;
  text-align: left;
  max-width: 1100px;
  margin: 0 auto;
  line-height: 1.8;
  /* border: 2px solid black; */
}

.footer-bottom p {
  margin-bottom: 10px;
}

.footer-bottom a {
  color: #2962ff;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-links {
  margin: 15px;
  /* border: 2px solid black; */
}


.footer-links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 15px;
}

.footer-links a {
  color: #555;
  font-size: 13px;
  text-decoration: none;
  font-weight: bold;
}

.footer-links a:hover {
  border-bottom: 2px solid #333;
}






/* =================================
 Responsive Styles
================================= */
@media (max-width: 992px) {
  .footer-top {
    flex-direction: column;
    text-align: center;
  }

  .footer-columns {
    grid-template-columns: 1fr 1fr;
  }

  .footer-col {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .footer-columns {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .social-icons {
    justify-content: center;
  }
}








/* Responsive */
@media (max-width: 992px) {
  .education-section {
    flex-direction: column;
    text-align: center;
  }

  .education-visual img {
    max-width: 75%;
  }

  .education-text {
    max-width: 100%;
    text-align: center;
  }

  .education-visual-btn {
    justify-content: center;
  }
}



/* ==============================
   Responsive Design
============================== */
@media (max-width: 992px) {

  .trust-section,
  .price-section {
    flex-direction: column;
    text-align: center;
  }

  .trust-text,
  .price-text {
    max-width: 100%;
  }

  .price-visual {
    /* grid-template-columns: 1fr; */
    justify-items: center;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    right: 20px;
    top: 60px;
    flex-direction: column;
    background: #fff;
    padding: 15px 20px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .nav-links.show {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 16px;
  }

  .cta-button {
    font-size: 16px;
    padding: 12px 24px;
  }

  .trust-visual-btn {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }

  .trust-text h2 {
    font-size: 26px;
  }
}