/* --- Reset --- */
* {
  box-sizing: bordr-box;
  margin: 0;
  padding: 0;
}

/* --- Typography & Layout --- */
body {
  font-family: 'Inter', sans-serif;
  color: #222;
  background-color: #fff;
  line-height: 1.6;
}




/* =================================
Utilities
================================= */
.active {
  color: blue !important;
  font-weight: 400 !important;
  border-bottom: 2px solid blue;
}